# These files are created as sym links and directory junctions by :/make_unity_symlink.bat

MessagePack/Formatters
MessagePack/Resolvers
MessagePack/Internal
MessagePack/Codec/
MessagePack/LZ4/

MessagePack/Attributes.cs
MessagePack/FloatBits.cs
MessagePack/IFormatterResolver.cs
MessagePack/IMessagePackSerializationCallbackReceiver.cs
MessagePack/MessagePackBinary.cs
MessagePack/MessagePackCode.cs
MessagePack/MessagePackSerializer.cs
MessagePack/MessagePackSerializer.Json.cs
MessagePack/MessagePackSerializer.NonGeneric.cs
MessagePack/Nil.cs
MessagePack/StringEncoding.cs
MessagePack/Unity/UnityResolver.cs
MessagePack/Unity/Formatters.cs
MessagePack/UnsafeExtensions/UnityBlitResolver.cs
MessagePack/UnsafeExtensions/UnsafeBlitFormatter.cs
Tests/Class1.cs
MessagePack/LZ4/LZ4MessagePackSerializer.cs
MessagePack/LZ4/LZ4MessagePackSerializer.JSON.cs
MessagePack/LZ4/LZ4MessagePackSerializer.NonGeneric.cs
